*{
	font-family:"Arial" , Helvetica, sans-serif;
}
.ui-corner-all{
	-moz-border-radius:0px;
	border-radius:0px;
}
#flashcheckbox{

	position:relative;
	top:3px;
}
#main {
	width: 584px;
	height:657px;
	text-align:left;
	font-size: 80%;
	background-color:white; 
}
#title, #run, #beam, #tooltips, #dataflow, #evtsize {
	border: 1px solid #323232;
	border-bottom-style:groove;
}
#title { 
	background-color:#1947D1;
	height:25px;
}
#run { 	
	background-color:#66A3E0;
	height:75px;
}
#beam { 
	background-color:#66A3E0;
	height:50px;
}
#tooltips { 
	background-color:#66A3E0;
	height:50px;
}
#dataflow { 
	background-color:#E0ECF8;
	height:392px;
}
#evtsize { 
	background-color:#1947D1;
	height:47px;
	border-bottom-style:solid;
}
.DFBox{
	border-color: #E0E0E0;
	border-style: solid;
	border-width:2px;
	float:left;

}
.RecBox{
	border-color: #000000;
	border-style: solid;
	border-width:1px;
	float:left;
	background-color: white;
}
.tt_obj{
	font-size:12px;
}
.tooltip{
	z-index:5;
	display:none;
	background-color: #FFFFCC;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	font-family:"Courier New" , Courier , monospace !important;
}
.leftcol {
	height:17px; 
	float:left;
	width: 71px; 
	padding: 3px;
	font-size: 12px;
	font-weight:bold;
}
.col1 {
	height:17px;
	width:495px;
	float:left;
	text-align:center;
	font-size: 13px;
	padding: 3px;
}
.col2 {
	height:17px;
	width:230px;
	float:left;
	text-align:center;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
.col3 {
	height:17px;
	width:150px;
	float:left;
	text-align:center;
	padding: 3px;
	padding-right:8px;
	padding-left:9px; 
}
.errcol {
	height:17px;
	width:255px;
	float:left;
	text-align:center;
	padding: 3px;
	padding-right:8px;
	padding-left:9px;
}
.colspacing {
	height:17px;
	width:10px;
	float:left;
	text-align:center;
	padding: 3px;
}
.ui-progressbar{
	height: 15px;
	position:relative; 
	text-align:center;
}
.pblabelwrapper {
	width: 96%;
	text-align:center;
	font-size:12px;
	margin-top:2px;
	margin-right: 3px;
	margin-left: 3px;
	z-index:2;
	position: absolute;
}
.pbleft{
	text-align:left;
	float:left;
}
.pbright{
	text-align:right;
	float:right;
}
#log { 
	overflow: auto; 
	height: 100px; 
	border: 1px solid black; 
}
