
    .selectedEntry { background-color: grey; }

    body { background-color: cornsilk; }
    th { background-color: bisque; }
    tbody tr { background-color: beige; }
    td { cursor: default; } /* border: solid; border-width: 0px 1px 0px 1px;} */
    h1 { background-color: bisque; border: solid; border-width: 1px 2px 2px 1px; }
    body { font-size: 80%; }

    .ERROR { border-color:red; border-width: 1px }
    .NOERROR { border-color:black; }
    .RUNNING  { background-color: #00FF33; }
    .PAUSED { background-color:#00FF33; }
    .READY { background-color:#00FF33; }
    .ROIBSTOPPED { background-color:#00FF33; }
    .HLTSTOPPED  { background-color:#00FF33; }
    .L2SVSTOPPED  { background-color:#00FF33; }
    .L2STOPPED  { background-color:#00FF33; }
    .EBSTOPPED  { background-color:#00FF33; }
    .EFSTOPPED { background-color:#00FF33; }
    .SFOSTOPPED { background-color:#00FF33; }
    .GTHSTOPPED { background-color:#00FF33; }
    .UP { background-color:#00FF33; }
    .CONNECTED { background-color:#FFCC33; }
    .CONFIGURED { background-color:yellow; }
    .BOOTED { background-color:#DDDDDD; }
    .NONE  { background-color:#DDDDDD; }
    .INITIAL { background-color:#66FFFF; }
    .ABSENT { background-color:#AAAAAA; }
