
    .RUNNING { background-color: #00FF33; }
    .PAUSED { background-color:#00FF33; }
    .READY { background-color:#00FF33; }
    .ROIBSTOPPED { background-color:#00FF33; }
    .HLTSTOPPED  { background-color:#00FF33; }
    .L2SVSTOPPED  { background-color:#00FF33; }
    .L2STOPPED  { background-color:#00FF33; }
    .EBSTOPPED  { background-color:#00FF33; }
    .EFSTOPPED { background-color:#00FF33; }
    .SFOSTOPPED { background-color:#00FF33; }
    .GTHSTOPPED { background-color:#00FF33; }
    .UP { background-color:#00FF33; }
    .CONNECTED { background-color:#FFCC33; }
    .CONFIGURED { background-color:yellow; }
    .BOOTED { background-color:#DDDDDD; }
    .NONE  { background-color:#DDDDDD; }
    .INITIAL { background-color:#66FFFF; }
    .ABSENT { background-color:#AAAAAA; }
    .RCSTATE {}

    .ERROR { color: red !important }
    .NOERROR { text-color: black; }

