
ul.menu { 
          list-style: none; 
          padding: 0px; 
          margin: 0px; 
        }

ul.menu li { 
             display: inline;
             border: solid;
             background-color: lightgray; 
             border-width: 1px 1px 0 1px;
             margin: 0 0.2em;
	     font-weight: bold;
      }

.menu li a { 
      text-decoration: none; 
      color: black; 
      cursor: default;
      padding: 0 0.1em ; 
}

.menu li.selected  { 
    background-color: white;
    padding-bottom: 1px;
}

.subframe { 
    margin: 0;
    padding: 0;
    border: solid;
    border-width: 1px 0px 0px 0px;
}

.subframe iframe {
    border: 0px;
    margin: 0;
    padding: 0;
}

div.nav { 
    float: left; 
    border: solid; 
    border-width: 1px 1px 0px 1px;
    margin: 2px;
    width: 15%; 
}

.nav ul { 
    list-style: none;  
    padding: 0px; 
    margin: 0px; 
}

.nav ul li { 
    list-style: none; 
    background-color: whitesmoke; /* #CCCCCC;  */
    border: solid;
    border-width: 0px 0px 1px 0px;
    text-align: center; 
    padding: 0.1em 1px;
    margin: 0px;
}

div .nav ul .right { 
    float: right;
}

div .nav ul .left { 
    float: left;
}

div .nav li a { 
    text-decoration: none;
    color: black; 
    cursor: default; 
}

div .control {
    float: right;
}

#content-el { 
   /*    float: right;  */
   margin-left: 50px;
}

div .control {
    border: solid 1px;
    padding: 0px;
}
