status { border: 1px solid black; }
.ERROR { color:red; }
.NOERROR { color:black; }
.RUNNING  { background-color: #00FF33; }
.PAUSED { background-color:#00FF33; }
.READY { background-color:#00FF33; }
.ROIBSTOPPED { background-color:#00FF33; }
.L2SVSTOPPED  { background-color:#00FF33; }
.L2STOPPED  { background-color:#00FF33; }
.EBSTOPPED  { background-color:#00FF33; }
.EFSTOPPED { background-color:#00FF33; }
.SFOSTOPPED { background-color:#00FF33; }
.GTHSTOPPED { background-color:#00FF33; }
.UP { background-color:#00FF33; }
.CONNECTED { background-color:#FFCC33; }
.CONFIGURED { background-color:yellow; }
.BOOTED { background-color:#DDDDDD; }
.NONE  { background-color:#DDDDDD; }
.INITIAL { background-color:#66FFFF; }
.ABSENT { background-color:#666666; }

img { border-style: none; }


.main-footer.ui-footer {
  bottom: 0;
  padding-bottom: 0;
}

.menu-panel .ui-listview > li .ui-collapsible-heading {
  margin: 0;
}

.menu-panel .ui-collapsible.ui-li-static {
  padding: 0;
  border: none !important;
}

.menu-panel .ui-collapsible + li > .ui-btn,
.menu-panel .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn,
.menu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
  border-top: none !important;
}

/*.menu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
  border-top: none !important;
}*/

.menu-panel .ui-collapsible,
  .menu-panel .ui-collapsible-content,
  .menu-panel .ui-btn {
    background: none !important;
    border-color: #ddd !important;
}

.ui-panel.ui-panel-open {
  position:fixed;
}
.ui-panel-inner {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Styles for collapsibles in listviews */
.ui-listview > li .ui-collapsible-heading {
  margin: 0;
}
.ui-collapsible.ui-li-static {
  padding: 0;
  border: none !important;
}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
  border-top: none !important;
}

.plot-grid .plot-grid-item {
  width: 100%;
  float: none;
}

.ui-grid-no-grid, 
.ui-block-no-grid {
  width-max: 50em;
}

.plot {
  height: auto !important;
}

.main-page .page-header {
  top: 3em;
}

.startpage-options {
  max-width: 25em;
}

.main-page .page-header h1,
.main-page .page-header h2,
.main-page .page-header h3,
.main-page .page-header h4,
.main-page .page-header h5,
.main-page .page-header h6 {
  margin: 0 10%;
/*  overflow: visible;
  white-space: normal;*/
}

.main-page {
  padding-top: 3em  !important;
  top: 3em !important;
}
.main-page .main-content {
  padding-top: 3em;
}
.main-header {
  height: 2.9em;
}

.main-header h1 {
  margin: 0 40%;
}

/*.main-footer {
  text-align: center;
}*/

.main-footer h3 {
  padding: 0 !important;
}
.main-footer .footer-grid-input {
  width: 50%;
}
.main-footer .footer-grid-btn {
  width: 25%;
}
.main-footer .ui-block-a {
  margin: 0 auto;
}
.main-footer .ui-input-text {
  width: 50% !important;
}
.main-footer label {
  float: left;
  width: 20% !important;
  margin: 0.446em 0;
}
.main-footer .ui-input-text,
#label-timedelay {
  float: left;
  display: inline-block;
}
.main-page iframe {
  width: 100%;
  height: 75vh;
}


#graph-popup-popup {
  width: 90%;
  height: calc(100% - 10em);
}

#graph-popup {
  height: 100%;
}

.popup-drawing {
  height: calc(100% - 6em);
  padding: 1em;
}

#root_ctx_menu {
  z-index: 1200 !important;
}

@media (min-width:35em) {
 
  /* wrap on wide viewports once open */
 
  .ui-panel-page-content-open.ui-panel-page-content-position-left {
    margin-right: 17em;
  }
  .ui-panel-page-content-open.ui-panel-page-content-position-right {
    margin-left: 17em;
  }
  .ui-panel-page-content-open {
    width: auto;
  }
 
  /* disable "dismiss" on wide viewports */
  .ui-panel-dismiss {
    display: none;
  }
 
  /* same as the above but for panels with display mode "push" only */
 
  .ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
    margin-right: 17em;
  }
  .ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
    margin-left: 17em;
  }
  .ui-panel-page-content-open.ui-panel-page-content-display-push {
    width: auto;
  }
 
  .ui-panel-dismiss-display-push {
    display: none;
  }


  /* Hide menu button and load all button*/
  .main-header .menu-button, 
  .main-header .load-all-button {
    display: none;
  }

  .menu-panel {
    visibility: visible;
    position: fixed;
    left: 0;
    clip: initial;
    float: left;
    width: 25%;
    background: none;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 999;
    max-width: 20em;
  }

  .menu-panel .ui-panel-inner {
    margin-top: 3em;
    margin-bottom: 3em;
  }
 /* .menu-panel .ui-panel .ui-panel-inner {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }*/
  .main-footer {
    text-align: center;
    left: 25%;
    width: 75%;
    padding-top: 0px;
    float: right;
  }
  .main-footer .footer-grid-input, 
  .main-footer .footer-grid-btn {
    width: 33.33%;
  }
  .main-footer .ui-input-text,
  .main-footer label {
    width: 40% !important;
  }
  .main-footer .auto-up-btn, 
  .main-footer .refresh-button {
    width: 50%;
  }
  .main-page {
    padding-top: 3em;
  }
  .main-page .page-header {
    top: 3em;
    left: 25%;
    width: 69%;
    padding-top: 0em;
    padding-left: 3%;
    padding-right: 3%;
    float: right;
  }
  .main-page .main-content {
    width: 69%;
    padding-top: 3em;
    padding-left: 3%;
    padding-right: 3%;
    float: right;
  }
  .menu-panel .ui-listview .ui-btn {
    padding-left: 12.5%;
  }
  .menu-panel .ui-listview .ui-listview .ui-btn {
    padding-left: 15%;
  }
  .menu-panel .ui-listview .ui-listview .ui-listview .ui-btn {
    padding-left: 17.5%;
  }
  .menu-panel .ui-listview .ui-listview .ui-listview .ui-listview .ui-btn {
    padding-left: 20%;
  }
  .plot-table td {
    width: 30.0%;
  }


  /*.plot-grid .plot-grid-item {
    width: 49.95%;
    float: left;
  }
  .plot-grid .ui-block-a,
  .plot-grid .ui-block-c,
  .plot-grid .ui-block-e {
    clear: left;
  }*/

  #graph-popup-popup {
    left: 28% !important;
    width: 69%;
  }

}

@media(min-width:43.75em){

  .plot-grid .plot-grid-item {
    width: 49.95%;
    float: left;
  }
  .plot-grid .ui-block-a,
  .plot-grid .ui-block-c,
  .plot-grid .ui-block-e {
    clear: left;
  }
}

@media(min-width:70em){
  
  .max-grid-b .plot-grid-item,
  .max-grid-c .plot-grid-item,
  .max-grid-d .plot-grid-item {
    width: 33%;
    float: left;
  }
  .plot-grid .ui-block-d {
    clear: left;
  }
  .plot-grid .ui-block-c,
  .plot-grid .ui-block-e {
    clear: none;
  }
}

@media(min-width:80em){
  
  .menu-panel {
    width: 20em;
  }
  .main-footer {
    left: 20em;
    width: auto;
  }
  .main-page .page-header {
    left: 20em;
    width: auto;
  }
  .main-page .main-content {
    margin-left: 20em;
    width: auto;
    float: none;
  }
  #graph-popup-popup {
    left: calc(20em + 3%) !important;
    width: calc(100% - 25em - 3%);
  }
}

@media(min-width:100em){
  
  .max-grid-c .plot-grid-item,
  .max-grid-d .plot-grid-item {
    width: 25%;
    float: left;
  }
  .plot-grid .ui-block-e {
    clear: left;
  }
  .plot-grid .ui-block-d {
    clear: none;
  }
}

@media (min-width:130em){

  .max-grid-d .plot-grid-item {
    width: 20%;
    float: left;
  }

  .plot-grid .ui-block-e {
    clear: none;
  }
}
